*.pyc
*.pyo
*.o
*.lo
*.la
*.so
*.log
*.swp
*.out
.deps
.libs

autom4te.cache/
config.h
config.h.in~
config.status
libtool
Makefile
stamp-h1

ltmain.sh
config.sub
config.guess
    
aclocal.m4
config.h.in
configure
Makefile.in
m4

SphericalBesselTable.hpp
DynamicPriorityQueue_test
SphericalBesselGenerator_test

data
temp
scratch
tags
tags.python
tags.c++
lib
*_test
*.*data
*.pvsm
*.dat
*.png
*.jpg
*.jpeg
*.aux
*.pdf

html_python
pseudocode.html
