*.pyc
*.pyo
*.o
*.lo
*.la
*.so
*.log
*.swp
*.out
.deps
.libs

autom4te.cache/
config.h
config.h.in~
config.status
libtool
Makefile
m4
stamp-h1

SphericalBesselTable.hpp
DynamicPriorityQueue_test
SphericalBesselGenerator_test

data
temp
scratch
tags
lib
